# Server Port
PORT=5000

# MongoDB Connection String (Local or MongoDB Atlas)
MONGO_URI=mongodb://127.0.0.1:27017/biometricAttendance

# ZKTeco K30 Machine Network Configuration
K30_IP=192.168.1.201
K30_PORT=4370
